<div class="filters">
  <input type="text" placeholder="Buscar..." />
  <label for="especie">Escolha sua especie</label>
  <select name="especie" id="especie">
    <option value="todos">Todos</option>
    <option value="viralata">Viralata</option>
    <option value="papagaio">Papagaio</option>
    <option value="tartaruga">Tartaruga</option>
  </select>
  <label for="porte">Escolha o porte</label>
  <select name="porte" id="porte">
    <option value="todos">Todos</option>
    <option value="pequeno">Pequeno</option>
    <option value="medio">Medio</option>
    <option value="grande">Grande</option>
  </select>
</div>
<section>
  <h2 class="mb-3">Pets</h2>
  @if (loading()) {
    <div class="text-center py-5">
      <div class="spinner-border text-primary" roles="status">
        <span class="visually-hidden">Carregando...</span>
      </div>
    </div>
  } @else if (pets().length === 0) {
    <div class="alert alert-info">Nenhum pet encontrado</div>
  } @else {
    <div class="row row-cols-1 row-cols-md-3 g-4">
      @for (pet of pets(); track $index) {
        <app-pet-card [pet]="pet"></app-pet-card>
      }
    </div>
  }
</section>
